<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Работа с файлами</title>
</head>
<body>
  <a href="{{backPage}}"> Вернуться в галерею </a>
  <div>
    <img src="{{imgAddress}}">
  </div>
</body>
</html>
